.DS_Store
.idea
.vscode

# build
*.egg
*.egg-info
dist
build
__pycache__
.pypirc
*.py[cod]

# web
*data.db3
*running.log
uploads
# docs directory is ignored, except for design documents
docs/*.xmind
docs/*.csv
docs/*.json
# 但允许 docs/plans 目录
!docs/plans/


logs